{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset complete page{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            
            <!-- Carte de connexion -->
            <div class="col-md-5 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4">Password Reset complete page</h4>
                        <hr>
                        <div class="alert alert-info">
                            Your password has been reset successfully. You can now log in with your new password.
                        </div>
                        
                        <div>
                            <a href="{% url 'users-login' %}">Login</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}