{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            
            <!-- Carte de connexion -->
            <div class="col-md-5 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4">Password Reset</h4>
                        <hr>
                        <div class="alert alert-info">
                            Insert your email to receive a link to reset your password.
                        </div>
                        
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Le formulaire Crispy -->
                            {{ form|crispy }}
                            
                            <!-- Bouton Login (w-100 pour pleine largeur) -->
                            <input class="btn btn-primary w-100 mt-3" type="submit" value="Login">
                        </form>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}