{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            
            <!-- Carte de connexion -->
            <div class="col-md-5 col-lg-4">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4">Password Reset done page</h4>
                        <hr>
                        <div class="alert alert-info">
                            an  email to reset your password has been sent to your email provider.
                        </div>
                        
                   
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}